body{
    background-image: url(5.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 2.0em;
    margin-top: 150px;
    text-align: center;
}
a {
    color:black;
    
}
a:hover { 
    background-color: #B22222;
}
