body{
    background-image: url(6.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
div.insert1{
    color:#00008B;   /*text欄位的顏色*/
    margin-top: -20px;
    margin-right: 500px;
    margin-left: 550px;
    padding-bottom: -20px;
    
	text-align:center;
	background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
    div.insert1-1{
    color: #EE4000;   
    text-align: center;
    }
div.insert2{
    color:#00008B;   /*text欄位的顏色*/
    margin-top: 2px;
    margin-right: 500px;
    margin-left: 550px;
    padding-bottom: 2px;
    
	text-align:center;
	background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
   div.insert1-2{
    color: #EE4000;  
    text-align: center;
    }

div.insert3{
    color:#00008B;   /*text欄位的顏色*/
    margin-top: 2px;
    margin-right: 500px;
    margin-left: 550px;
    padding-bottom: 2px;
    
	text-align:center;
	background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
   div.insert1-3{
    color: #EE4000;
    text-align: center;
    }

#randomTable_1{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}
#randomTable_2{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}
#randomTable_3{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}