body{
    background-image: url(star.jpg);
}
div.insert1{
    color:#00008B;   /*text欄位的顏色*/
    margin-top: 2px;
	text-align:left;
	background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
    div.insert1-1{
    color: #EE4000;    
    }
div.insert2{
    color:#00008B;    /*text欄位的顏色*/
	border-bottom: 5px solid green;
	margin-bottom: 2px;
	margin-top: 2px;
	background-image:url("paper.gif");
	background-repeat:x;
	text-align: left;
    background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
   div.insert1-2{
    color: #EE4000;    
    }

div.insert3{
    color:#00008B;    /*text欄位的顏色*/
	border-bottom: 5px solid green;
	margin-bottom: 2px;
	margin-top: 2px;
	background-image:url("paper.gif");
	background-repeat:x;
	text-align: left;
    background-image:url("paper.gif"); /*背景圖片*/
	background-repeat:x; /*以X軸重橫向重複*/
    border: 2px solid green;
}
   div.insert1-3{
    color: #EE4000;
    }

#randomTable_1{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}
#randomTable_2{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}
#randomTable_3{
    font-family: monospace;
    font-size: 2.0em;
    color: black;
}